<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
<h1 class="row justify-content-center">Detail View</h1>
{% extends 'Enrollments/base.html' %}
{% load crispy_forms_tags %}
{% block main %}
<fieldset disabled>
    Enrollment ID: {{object.id}} <br>
    Student: {{object.student.firstName|add:" "|add:object.student.lastName}} <br>
    Course: {{object.course.title}} <br>
    Grade: {{object.grade}} <br>
    <br>
    <br>
</fieldset>
<br>
<br>
<center>
    <a href="create" class="btn btn-primary">Add New enrollment</a>
    <a href='/enrollments/enrollment' class="btn btn-light">Back</a>
</center>
{% endblock %}
</body>
</html>