<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enrollment Records</title>
</head>
<body>
<h1 class="row justify-content-center">Enrollments</h1>
{% extends 'Enrollments/base.html' %}
{% load crispy_forms_tags %}
{% block main %}
{% if object_list %}
    <div class="row justify-content-center">
        <table class="table table-striped table-bordered table-hover table-md">
            <thead class="thead-dark">
            <tr>
                <th>Student</th>
                <th>Course</th>
                <th>Grade</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for data in object_list %}
            <tr>
                <td>{{data.student.firstName|add:" "|add:data.student.lastName}}</td>
                <td>{{data.course.title}}</td>
                <td>{{data.grade}}</td>
                <td>
                    <a href="update/{{ data.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>
                    <a href="delete/{{ data.id }}"><span class="glyphicon glyphicon-trash" >Delete</span></a>
                    <a href="{{ data.id }}"><span class="glyphicon glyphicon-info-sign" >Details</span></a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
{% endif %}
{% if is_paginated %}
<ul class="pagination">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
    <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
    {% if page_obj.number == i %}
    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% else %}
    <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
    <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
</ul>
{% endif %}
<br>
<br>
<center><a href="create" class="btn btn-primary">Add New enrollment</a></center>
{% endblock %}
</body>
</html>