<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course Records</title>
</head>
<body>
<h1 class="row justify-content-center">Courses</h1>
{% extends 'Courses/base.html' %}
{% load crispy_forms_tags %}
{% block main %}
{% if object_list %}
    <div class="row justify-content-center">
        <table class="table table-striped table-bordered table-hover table-md">
        <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>Credit Hours</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for data in object_list %}
        <tr>
            <td>{{data.title}}</td>
            <td>{{data.credits}}</td>
            <td>
                <a href="update/{{ data.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>
                <a href="delete/{{ data.id }}"><span class="glyphicon glyphicon-trash" >Delete</span></a>
                <a href="{{ data.id }}"><span class="glyphicon glyphicon-info-sign" >Details</span></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
{% if is_paginated %}
<ul class="pagination">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
    <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
    {% if page_obj.number == i %}
    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% else %}
    <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
    <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
</ul>

{% endif %}
<br>
<br>
<br>
<br>
<div>
    <center><a href="create" class="btn btn-primary">Add New course</a></center>
</div>
{% endblock %}
</body>
</html>