<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
<h1 class="row justify-content-center">Detail View</h1>
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block main %}
<fieldset disabled>
    Student ID: {{object.id}} <br>
    First Name: {{object.firstName}} <br>
    Last Name: {{object.lastName}} <br>
    Registration Date: {{object.registrationDate}} <br>
    <br>
    <br>
</fieldset>
<br>
<br>
<center>
    <a href="create" class="btn btn-primary">Add New Student</a>
    <a href='/students/student' class="btn btn-light">Back</a>
</center>
{% endblock %}
</body>
</html>